{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{request.user}} Dashboard {% endblock %}

{% block content %}
<div class="menu">
    
    <ul class="nav bg-dark nav-dark">
        <li class="nav-item">
            <a class="nav-link" href="#profile-form">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#survey-form">Survey</a>
        </li>
    </ul>
</div>

<hr>
<section class="container " style="height: 80vh;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div id="profile-form" class="dashtst my-3">
                <div class="profile-page">
                    <h1>Give Rating to Coding website </h1>
                    <form method="POST" name="form1">
                        {% csrf_token %}
                        {{form2|crispy}}
                        <button class="profile-save btn btn-primary btn-sm">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>



{% endblock %}