html { 
    scroll-behavior: smooth;
}

.nav-box{
    background: transparent;
    height: 100%;
    /* position: fixed; */
}

.nav-box ul li {
    padding-top: 1em;
}

.nav-box ul {
    list-style: none;
    padding: 1em;
    margin: 0em;
    position: fixed;
}
.nav-box li {
    width: 14em;
    height: 2em;
    cursor: pointer;
}
.nav-box li:nth-child(odd) {
    /* background: yellowgreen; */
    letter-spacing: 0em;

}

.dashtst{
    height: 55em;

}



.footer{
    /* background: violet; */
    height: 100%;
}


 