{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/c0017ea941.js" crossorigin="anonymous"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container tst">
        <div class="header" id="child-2">
            <header class="header">
                <nav class="nav bd_flex">
                    <div class="logo">
                        <a href="" id="logo">Logo</a>
                    </div>
            
                    <div class="nav_menu" id="nav_menu">
                        <ul class="nav_list">
                            <li class="nav_items">
                                <a href="{% url 'homee' %}">Home</a>
                            </li>               
                            <li class="nav_items">
                                <a href="">About Us</a>
                            </li>
                            <li class="nav_items">
                                <a href="">Contact</a>
                            </li>
                    
                            {% if user.is_authenticated %}
                                <li class="nav_items">
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                                <li class="nav_items">
                                    <span>Hello, {{request.user}}</span>
                                </li>
                                <li class="nav_items">
                                    <a href="{% url 'dashboard' %}"><i class="fas fa-user-cog"></i></a>
                                </li>
                            {% else %}
                                <li class="nav_items">
                                    <a href="/user/signup">Sign-up</a>
                                </li>
                            {% endif %}
                            <!-- <li class="nav_items">
                                <a href="/user/signup">Sign-up</a>
                            </li> -->
                        
                            
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        {% block content %}

        {% endblock %}
    </div>
        
</body>
</html>